@font-face {
  src: url(./luthon_southard_script/Luthon\ Southard\ Script.otf);
  font-family: 'Luthon Southard';
}
@font-face {
  src: url(./miracle_5/Miracle\ Personal\ use.otf)
  font-family: 'Miracle'
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@keyframes rotation {
  from {
    transfrom: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scroll {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@-moz-keyframes scroll {
  0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  100% {
      -moz-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
  }
}

@keyframes scroll {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0)
  }
}
.page {
  font-family: Jost;
  background-color: rgba(242, 173, 46, 0.3);
  color: #0D0D0D;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 auto;
}
.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(242, 173, 46, 0.8);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.heart {
  fill: #D93D04;
  width: 45px;
  animation: pulse 1s ease infinite;
  position: absolute;
  top: 30px;
  left: 65px;
}
.header__title {
  display: flex;
  margin: 0;
  margin-left: 65px;
  width: 200px;
  font-family: Miracle;
  font-size: 130px;
  text-decoration: none;
  color: #D93D04;
  font-weight: normal;
  z-index: 1;
}
.header__image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 600px;
  z-index: 1;
}
.heart__background {
  fill: #D93D04;
  width: 700px;
  animation: rotation linear 20s infinite;
  position: absolute;
  top: 100px;
  right: -100px;
  z-index: 0;
}
.wish__title {
  font-family: Miracle;
  font-weight: normal;
  color:rgba(216, 60, 4, 1);
  text-align: center;
  font-size: 48px;
  margin: 25px auto;
}
.wishes {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}
.wish {
  font-family: Jost;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 15px;
}
.photos {
  background-color: rgba(216, 60, 4, 0.7);
  padding-bottom: 30px;
}
.moments {
  margin: 20px 65px 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-family: Miracle;
  color:#590202;
}
.photo-grid {
  margin: 15px 65px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  padding: 0 auto;
}
/* общие свойства контейнеров с обычными иллюстрациями в тексте */
.content__image {
  margin: 0;
  position: relative;
  height: 374px; 
}
/* общие свойства иллюстраций в тексте */
.content__image-item {
  width: 100%;
  height: 374px;
  object-fit: cover;
}
/* общие свойства "покрывал" для иллюстраций при бездействии пользователя */
.content__image-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* изменения свойств "покрывала" при наведении мыши на иллюстрации в тексте */
.content__image-cover:hover {
  opacity: 1;
}
/* свойства подписей с названиями иллюстраций */
.content__image-name {
  font-family: Jost;
  font-size: 14px;
  color: white;
  position: absolute;
  left: 8px;
  bottom: 5px;
}
.content__image-name__long {
  font-size: 11.5px;
}
.present {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: rgba(242, 173, 46, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.present__title {
  margin: 20px 65px 20px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-family: Miracle;
  color:rgba(216, 60, 4, 1)
}
.present__image {
  margin: 0;
  position: relative;
  height: 550px;
}
.present__image-item {
  justify-content: center;
  width: 0%%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  margin: 0 auto 20px;
}
.present__image-item:hover {
  opacity: 0;
}
/* общие свойства "покрывал" для иллюстраций при бездействии пользователя */
.present__image-cover {
  width: 100%;
  height: 95%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* изменения свойств "покрывала" при наведении мыши на иллюстрации в тексте */
.present__image-cover:hover {
  opacity: 1;
}
/* свойства подписей с названиями иллюстраций */
.present__image-veja {
  height: 550px;
  width: 388px;
  object-fit: contain;
  position: absolute;
  left: 40px;
  top: 20px;
}
.friends {
  background-color:rgba(242, 135, 4, 0.8);
  margin: 0 auto;
  margin-bottom: 0;
  padding-top: 20px;
}
.friends__title {
  margin: 20px 65px 0;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-family: Miracle;
  color:rgba(216, 60, 4, 1)
}
.photo-grid_2 {
  margin: 20px 65px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  padding: 0 auto;
  padding-bottom: 20px;
}
.footer {
  background-color: rgba(89, 1, 1, 1);
  color: white;
  margin: 0 auto;
  height: 22vh;
}
.copyright {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__author {
  margin-right: 20px;
  align-self: flex-end;
}
.heart__background_footer {
  fill: white;
  width: 20px;
  animation: pulse 1s ease infinite;
  z-index: 0;
}
.marquee {
  display: block;
  width: 100%;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  font-family: Miracle;
  color:#F2AE2E;
  font-weight: normal;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: scroll 5s infinite linear;
  -moz-animation: scroll 5s infinite linear;
  animation: scroll 5s infinite linear;
}

/* Color Theme Swatches in Hex */
.Polybion-1-hex { color: #F2AE2E; }
.Polybion-2-hex { color: #F28705; }
.Polybion-3-hex { color: #D9C2AD; }
.Polybion-4-hex { color: #D93D04; }
.Polybion-5-hex { color: #590202; }

/* Color Theme Swatches in RGBA */
.Polybion-1-rgba { color: rgba(242, 173, 46, 1); }
.Polybion-2-rgba { color: rgba(242, 135, 4, 1); }
.Polybion-3-rgba { color: rgba(216, 193, 173, 1); }
.Polybion-4-rgba { color: rgba(216, 60, 4, 1); }
.Polybion-5-rgba { color: rgba(89, 1, 1, 1); }
